<a href="https://colab.research.google.com/github/MunazaAshraf/Deep-Learning-BWF/blob/main/Task13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas Series**

A Series is a one-dimensional labelled array object similar to a list or a column in a table. It can hold any data type.

In [1]:
import pandas as pd

In [2]:
# Creating a list
author = ['Jitender', 'Purnima','Arpit', 'Jyoti']

In [3]:
# Creating a Series by passing list
# variable to Series() function
auth_series = pd.Series(author)

In [4]:
# Printing Series
print(auth_series)

0    Jitender
1     Purnima
2       Arpit
3       Jyoti
dtype: object

In [5]:
# checking type of series
print(type(auth_series))

<class 'pandas.core.series.Series'>

*Create DataFrame From Multiple Series*

In [6]:
article = [210, 211, 114, 178]

In [8]:
article_series = pd.Series(article)

In [9]:
# Creating a dictionary by passing Series objects as values
frame = {'Author': auth_series, 'Article': article_series}

In [10]:
# Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)

In [11]:
# Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

*Add a Column in Pandas Dataframe*

In [12]:
# Creating another list
age = [21, 21, 24, 23]

In [13]:
# Creating new column in the dataframe by
# providing s Series created using list
result['Age'] = pd.Series(age)

In [14]:
# Printing dataframe
print(result)

     Author  Article  Age
0  Jitender      210   21
1   Purnima      211   21
2     Arpit      114   24
3     Jyoti      178   23

*Missing value in Pandas Dataframe*

In [15]:
label = ['yes','yes','no']

In [16]:
result['Label'] = pd.Series(label)

In [17]:
print(result)

     Author  Article  Age Label
0  Jitender      210   21   yes
1   Purnima      211   21   yes
2     Arpit      114   24    no
3     Jyoti      178   23   NaN

*Creating a Dataframe using a dictionary of Series*

In [18]:
dict1 = {'Auth_Name': pd.Series(['Jitender',
                  'Purnima', 'Arpit', 'Jyoti']),
         'Author_Book_No':\
                 pd.Series([210, 211, 114, 178]),
         'Age': pd.Series([21, 21, 24, 23])}

In [19]:
# Creating Dataframe
df = pd.DataFrame(dict1)

In [20]:
# Printing dataframe
print(df)

  Auth_Name  Author_Book_No  Age
0  Jitender             210   21
1   Purnima             211   21
2     Arpit             114   24
3     Jyoti             178   23

In [21]:
age_series = pd.Series(age)

In [30]:
dict2 = {'Auth_Name': auth_series,
         'Article':\
                 article_series,
         'Age': age_series}

In [23]:
df1 = pd.DataFrame(dict2)

In [24]:
print(df1)

  Auth_Name  Article  Age
0  Jitender      210   21
1   Purnima      211   21
2     Arpit      114   24
3     Jyoti      178   23

In [25]:
label_series = pd.Series(label)

In [27]:
dict3 = {'Auth_Name': auth_series,
         'Article':\
                 article_series,
         'Age':\
         age_series,
         'Label':
         label_series}

In [28]:
df2 = pd.DataFrame(dict3)
print(df2)

  Auth_Name  Article  Age Label
0  Jitender      210   21   yes
1   Purnima      211   21   yes
2     Arpit      114   24    no
3     Jyoti      178   23   NaN

*Explicit Indexing in Pandas Dataframe*

In [29]:
fd = pd.DataFrame(dict1, index=['SNo1', 'SNo2', 'SNo3', 'SNo4'])
print(fd)

     Auth_Name  Author_Book_No  Age
SNo1       NaN             NaN  NaN
SNo2       NaN             NaN  NaN
SNo3       NaN             NaN  NaN
SNo4       NaN             NaN  NaN

In [31]:
fd1 = pd.DataFrame(dict2, index=['SNo1', 'SNo2', 'SNo3', 'SNo4'])
print(fd1)

     Auth_Name  Article  Age
SNo1       NaN      NaN  NaN
SNo2       NaN      NaN  NaN
SNo3       NaN      NaN  NaN
SNo4       NaN      NaN  NaN

In [32]:
fd2 = pd.DataFrame(dict3, index=['SNo1', 'SNo2', 'SNo3', 'SNo4'])
print(fd2)

     Auth_Name  Article  Age Label
SNo1       NaN      NaN  NaN   NaN
SNo2       NaN      NaN  NaN   NaN
SNo3       NaN      NaN  NaN   NaN
SNo4       NaN      NaN  NaN   NaN

Here, we can rectify this problem by providing the same index values to every Series element.

In [37]:
dict1 = {'Auth_Name': pd.Series(['Jitender',
              'Purnima', 'Arpit', 'Jyoti'],
          index=['SNo1', 'SNo2', 'SNo3', 'SNo4']),
         'Author_Book_No': pd.Series([210, 211, 114, 178],
                   index=['SNo1', 'SNo2', 'SNo3', 'SNo4']),
         'Age': pd.Series([21, 21, 24, 23],
                index=['SNo1', 'SNo2', 'SNo3', 'SNo4'])}

In [38]:
df = pd.DataFrame(dict1, index=['SNo1', 'SNo2', 'SNo3', 'SNo4'])
print(df)

     Auth_Name  Author_Book_No  Age
SNo1  Jitender             210   21
SNo2   Purnima             211   21
SNo3     Arpit             114   24
SNo4     Jyoti             178   23

**Small Exercise**

In [40]:
s=pd.Series([8, 'data', 5.36, -23455788675342648, 'structures'])
print(s)

0                     8
1                  data
2                  5.36
3    -23455788675342648
4            structures
dtype: object

In [41]:
s=pd.Series([8, 'data', 5.36, -23455788675342648, 'structures'], index=['A', 'B', 'C', 'D', 'E'])
print(s)

A                     8
B                  data
C                  5.36
D    -23455788675342648
E            structures
dtype: object

In [43]:
 d={'01' : 'Jan', '02':'Feb','03':'Mar','04':'Apr'}
 print(d)

{'01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr'}

In [44]:
 months=pd.Series(d)
 print(months)

01    Jan
02    Feb
03    Mar
04    Apr
dtype: object

In [45]:
print(months['04'] )

Apr

In [46]:
print( months[months=='Jan'])

01    Jan
dtype: object