<a href="https://colab.research.google.com/github/MunazaAshraf/Deep-Learning-BWF/blob/main/Task14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

**json file**

In [4]:
dataset_json = pd.read_json("/content/sample_data/anscombe.json")

In [5]:
dataset_json.shape

(44, 3)

In [6]:
dataset_json.size

132

In [7]:
dataset_json.head()

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

In [8]:
dataset_json.isnull().sum()

Series    0
X         0
Y         0
dtype: int64

In [9]:
dataset_json = dataset_json.fillna("")

In [10]:
print(dataset_json)

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

**Excel file**

In [12]:
dataset_excel = pd.read_excel('/content/file_example_XLS_100.xls')

In [13]:
dataset_excel.shape

(100, 8)

In [14]:
dataset_excel.size

800

In [16]:
dataset_excel.head()

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [18]:
dataset_excel.isnull().sum()

0             0
First Name    0
Last Name     0
Gender        0
Country       0
Age           0
Date          0
Id            0
dtype: int64

In [19]:
print(dataset_excel)

      0 First Name   Last Name  Gender        Country  Age        Date    Id
0     1      Dulce       Abril  Female  United States   32  15/10/2017  1562
1     2       Mara   Hashimoto  Female  Great Britain   25  16/08/2016  1582
2     3     Philip        Gent    Male         France   36  21/05/2015  2587
3     4   Kathleen      Hanner  Female  United States   25  15/10/2017  3549
4     5    Nereida     Magwood  Female  United States   58  16/08/2016  2468
..  ...        ...         ...     ...            ...  ...         ...   ...
95   96       Roma  Lafollette  Female  United States   34  15/10/2017  2654
96   97     Felisa        Cail  Female  United States   28  16/08/2016  6525
97   98   Demetria       Abbey  Female  United States   32  21/05/2015  3265
98   99     Jeromy        Danz    Male  United States   39  15/10/2017  3265
99  100   Rasheeda      Alkire  Female  United States   29  16/08/2016  6125

[100 rows x 8 columns]

**CSV File**

In [20]:
dataset_csv = pd.read_csv('/content/clean_fifa_worldcup_matches.csv')

In [21]:
dataset_csv.shape

(900, 6)

In [22]:
dataset_csv.size

5400

In [23]:
dataset_csv.head()

    HomeTeam       AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0     France         Mexico  1930          4          1           5
1    Uruguay      Argentina  1930          4          2           6
2    Uruguay     Yugoslavia  1930          6          1           7
3  Argentina  United States  1930          6          1           7
4   Paraguay        Belgium  1930          1          0           1

In [24]:
dataset_csv.isnull().sum()

HomeTeam      0
AwayTeam      0
Year          0
HomeGoals     0
AwayGoals     0
TotalGoals    0
dtype: int64

In [25]:
print(dataset_csv)

      HomeTeam       AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0       France         Mexico  1930          4          1           5
1      Uruguay      Argentina  1930          4          2           6
2      Uruguay     Yugoslavia  1930          6          1           7
3    Argentina  United States  1930          6          1           7
4     Paraguay        Belgium  1930          1          0           1
..         ...            ...   ...        ...        ...         ...
895     Brazil     Costa Rica  2018          2          0           2
896     Serbia    Switzerland  2018          1          2           3
897     Serbia         Brazil  2018          0          2           2
898     France           Peru  2018          1          0           1
899     Brazil        Belgium  2018          1          2           3

[900 rows x 6 columns]

**SQL File**

In [53]:
from sqlite3 import connect
conn = connect("stocks.db")
data = pd.read_csv("/content/clean_fifa_worldcup_matches.csv")
data.to_sql("worldcup_matches",conn)
dataset_sql = pd.read_sql("SELECT * FROM worldcup_matches",conn)
print(dataset_sql)

     index   HomeTeam       AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0        0     France         Mexico  1930          4          1           5
1        1    Uruguay      Argentina  1930          4          2           6
2        2    Uruguay     Yugoslavia  1930          6          1           7
3        3  Argentina  United States  1930          6          1           7
4        4   Paraguay        Belgium  1930          1          0           1
..     ...        ...            ...   ...        ...        ...         ...
895    895     Brazil     Costa Rica  2018          2          0           2
896    896     Serbia    Switzerland  2018          1          2           3
897    897     Serbia         Brazil  2018          0          2           2
898    898     France           Peru  2018          1          0           1
899    899     Brazil        Belgium  2018          1          2           3

[900 rows x 7 columns]

In [54]:
dataset_sql.shape

(900, 7)

In [55]:
dataset_sql.size

6300

In [56]:
dataset_sql.head()

   index   HomeTeam       AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0      0     France         Mexico  1930          4          1           5
1      1    Uruguay      Argentina  1930          4          2           6
2      2    Uruguay     Yugoslavia  1930          6          1           7
3      3  Argentina  United States  1930          6          1           7
4      4   Paraguay        Belgium  1930          1          0           1